<!DOCTYPE html>
<html>
<head>
	<title>Tic Tac Toe</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="dist/style.css">
</head>
<body>
	
	<div id="container">
		<div id="sidebar_wrap">
			<div id="sidebar">
				<div id="characters">
					<div class="human">
						<img src="src/images/human.png" alt="">
					</div>
					<div class="vs">vs</div>
					<div class="robot">
						<img src="src/images/robot.png" alt="">
						<div class="lh">
							<img src="src/images/lhand2.png" alt="">
							<div class="gun">
								<img src="src/images/gun.png" alt="">
							</div>
						</div>
						<div class="rh">
							<img src="src/images/rhand2.png" alt="">
						</div>
					</div>
					<div class="human_2">
						<img src="src/images/human2.png" alt="">
					</div>
				</div>

				<div class="field">
					<label>Mode</label>
					<div class="game_mode_choices" id="game_mode">
						<ul>
							<li data-value="1" class="active">Human v Computer</li>
							<li data-value="0">Human v Human</li>
						</ul>
					</div>
				</div>

				<div id="vs_computer_field">
					<div class="field">
						<label>Depth</label>
						<div class="depth_choices" id="depth">
							<ul>
								<li data-value="1">1</li>
								<li data-value="2">2</li>
								<li data-value="3">3</li>
								<li data-value="4">4</li>
								<li data-value="-1" class="active">Unlimited</li>
							</ul>
						</div>
					</div>

					<div class="field">
						<label>Starting Player</label>
						<div class="starting_player_choices" id="starting_player">
							<ul>
								<li data-value="1" class="active">Human</li>
								<li data-value="0">Computer</li>
							</ul>
						</div>
					</div>
				</div>

				<button id="newgame">New Game</button>
				<p><a href="https://github.com/Subham-Neogi/Minimax-Tic-Tac-Toe">View on Github</a></p>
			</div>
		</div>
		
		<div id="board_wrap">
			<div id="board"></div>
		</div>

	</div>

	<script type="text/javascript" src="dist/bundle.js"></script>
</body>
</html>