
@import "../node_modules/normalize.css/normalize";

body {
	background-color: #eaeaea;
	position: relative;
	font-family:  "Helvetica Neue","Helvetica","Arial",sans-serif; ;
	&:before {
		content: '';
		background-image: url(images/pattern_alt.png);
		width: 100%;
		height: 100%;
		position: absolute;
	    opacity: 0.04;
	}
}

* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

#container {
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px;
    #sidebar_wrap {
    	width: 35%;
    	height: 100%;
    	float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(255, 255, 255, 0.85);
    }
    #board_wrap {
		width: 65%;
		height: 100%;
		background-color: #131313;
		background-image: url(images/pattern.png);
		background-size: 300px;
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
    }
}

#newgame {
	background-color: #f59838;
	border: none;
	padding: 13px 26px;
	border-radius: 6px;
	color: #ffffff;
	font-family:  "Helvetica Neue","Helvetica","Arial",sans-serif; ;
	cursor: pointer;
	font-weight: 600;
	width: 100%;
	margin-top: 10px;
	box-shadow: 0 9px rgb(245, 104, 11);

	&:focus {
		outline: 0px;
	}

	&:hover {
		background-color: #f07306ec;
	}

	&:active {
		background-color: rgb(245, 104, 11);;
		box-shadow: 0 5px rgb(240, 59, 4);
		transform: translateY(4px);
	}
}

@-webkit-keyframes pew {
    0% { opacity: 0; }
    20% { opacity: 1; }
    40% { opacity: 0; }
    60% { opacity: 1; }
    70% { opacity: 0; }
    80% { opacity: 1; }
    100% { opacity: 0; }
} 

@keyframes bounce {
	0%   { transform: scale(1,1)      translateY(0); }
	10%  { transform: scale(1.1,.9)   translateY(0); }
	30%  { transform: scale(.9,1.1)   translateY(-50px); }
	50%  { transform: scale(1.05,.95) translateY(0); }
	57%  { transform: scale(1,1)      translateY(-7px); }
	64%  { transform: scale(1,1)      translateY(0); }
	100% { transform: scale(1,1)      translateY(0); }
}

#sidebar {
	#characters {
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    margin-bottom: 40px;
	    position: relative;
		.human {
			width: 100px;
			position: relative;
		}
		.human_2 {
			display: none;
		}
		.robot {
			width: 40px;
			position: relative;
			.lh {
				position: absolute;
				width: 31%;
				top: 52%;
				left: -25.5%;
				transform-origin: 50% 0;
				transition: 0.3s;
			}
			.rh {
				position: absolute;
				width: 31%;
				top: 52%;
				right: -25.5%;
				transform-origin: 50% 0;
				transition: 0.3s;
			}
			.gun {
				width: 159%;
				transform: rotate(-90deg) scale(0);
				position: absolute;
				bottom: -43%;
				left: -63%;
				transition: 0.2s;
				&:after {
					content: '';
					position: absolute;
					height: 400px;
					width: 2px;
					background: rgba(255, 36, 36, 0.78);
					transform: rotate(90deg);
					transform-origin: 0 0;
					top: 46%;
					box-shadow: 0px 0px 3px #f00;
					display: none;
					opacity: 0;
				}
			}
		}
		&.celebrate_robot {
			.robot {
				.lh {
				    transform: rotate(106deg);
				}
				.gun { 
					transform: rotate(-90deg) scale(1);
					&:after {
						display: block;
						animation: pew 0.8s;
						animation-delay: 0.4s;
					}
				}
			}
		}
		&.celebrate_human {
			.human {
				animation: bounce 2s;
				.bounce {
					animation-name: bounce;
					animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    			}
			}
		}
		&.celebrate_human_2{
			.human_2 {
				animation: bounce 2s;
				.bounce {
					animation-name: bounce;
					animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    			}
			}
		}
		&.invisible {
			.human_2 {
				width: 105px;
				padding-left: 10px;
				position: relative;
				display: inline;
			}
			.robot{
				display: none;
			}
		}
	}
	p {
		font-family: 'Raleway', sans-serif;
		text-align: center;
		font-size: 1em;
		font-weight: 300;
		color: #b3b3b3;
		a {
			color: #505050;
			text-decoration: none;
		}
	}
	.field {
		margin-bottom: 20px;
		ul {
			margin: 0;
			padding-bottom: 1em;
			padding-left: 0em;
			list-style: none;
			width: max-content;
			border: none;
   			border-radius: 2px;
   			overflow: hidden;
		    font-size: 1em;
			li {
				float: left;
				padding: 10px 15px;
				margin-right: 0.4em;
				border-radius: 6px;
				background-color: #f59838;
			    cursor: pointer;
				color: #fff;
				box-shadow: 0 9px rgb(245, 104, 11);
			    &:hover {
			    	background-color: #f07306ec;
				}
				&.active {
					background-color: rgb(245, 104, 11);
					box-shadow: 0 5px rgb(240, 59, 4);
					transform: translateY(4px);
				}
			}
		}
		label {
			font-weight: 600;
			margin-bottom: 15px;
			display: block;
		}
	}
	#vs_computer_field {
		&.invisible {
			display: none;
		}
	}
}

@keyframes grow_x {
	0% { background-size: 30px 30px;}
	25% { background-size: 60px 60px;}
	50% { background-size: 90px 90px;}
	75% { background-size: 100px 100px;}
	100% { background-size: 120px 120px;}
}

@keyframes grow_o {
	0% { background-size: 10px 10px;}
	25% { background-size: 30px 30px;}
	50% { background-size: 60px 60px;}
	75% { background-size: 80px 80px;}
	100% { background-size: 90px 90px;}
}

#board {
	width: 460px;
	height: 460px;
	float: left;
	position: relative;
	&:after {
		content: '';
		position: absolute;
	    background-color: #f59838;
	    transition: 0.7s;
	}
	&[class^="H"] {
		&:after {
			width: 0%;
			height: 5px;
			left: 0;
			transform: translateY(-50%);
		}
		&.full:after {
			width: 100%;
		}
	}
	&.H1:after {
		top: 16.6666666665%;
	}
	&.H2:after {
		top: 50%;
	}
	&.H3:after {
		top: 83.33333333%;
	}
	&[class^="V"] {
		&:after {
			width: 5px;
			height: 0%;
			top: 0;
			transform: translateX(-50%);
		}
		&.full:after {
			height: 100%;
		}
	}
	&.V1:after {
		left: 16.6666666665%;
	}
	&.V2:after {
		left: 50%;
	}
	&.V3:after {
		left: 83.33333333%;
	}
	&.D1 {
		&:after {
			height: 0%;
			width: 5px;
			left: 0;
			top: 0;
			transform: rotateZ(-45deg);
			transform-origin: 50% 0;
			transition: height 0.7s;
		}
		&.full:after {
			height: 140%;
		}
	}
	&.D2 {
		&:after {
			height: 0%;
			width: 5px;
			right: 0;
			top: 0;
			transform: rotateZ(45deg);
			transform-origin: 50% 0;
			transition: height 0.7s;
		}
		&.full:after {
			height: 140%;
		}
	}
	[class^="cell-"] {
		height: 33.3333333%;
		width: 33.3333333%;
	    float: left;
        border: 1px solid #0f0801;
        position: relative;
        cursor: pointer;
        &.x, &.o, &.x_hint, &.o_hint {
			cursor: not-allowed;
			&:after {
				position: absolute;
				width: calc(100% - 60px);
				height: calc(100% - 60px);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: 50% 50%;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
        }
        &.x:after {
			content: '';
			background-image: url(images/x.svg);
        }
        &.o:after {
			content: '';
			background-image: url(images/o.svg);
		}
		&.x_hint:after {
			content: '';
			background-image: url(images/x_hint.svg);
			animation: grow_x 800ms infinite;
		}
		&.o_hint:after {
			content: '';
			background-image: url(images/o_hint.svg);
			animation: grow_o 800ms infinite;
        }
	}
	.cell-0, .cell-1, .cell-2 {
		border-top: none;
	}
	.cell-2, .cell-5, .cell-8 {
		border-right: none;
	}
	.cell-0, .cell-3, .cell-6 {
		border-left: none;
	}
	.cell-6, .cell-7, .cell-8 {
		border-bottom: none;
	}
}

#hint {
	position: absolute;
	top: 2em;
	right: 2em;
	background-color: transparent;
	border-width: 2px;
	border-color: #f59838;
	padding: 5px 10px;
	color: #f59838;
	font-family:  "Helvetica Neue","Helvetica","Arial",sans-serif; ;
	cursor: pointer;
	font-weight: 600;
	width: 8%;
	margin-top: 10px;

	&:focus {
		outline: 0px;
	}

	&:hover {
		border-color: #f07306ec;
		color: #f07306ec;
	}

	&:active {
		border-color: rgb(245, 104, 11);
		color: rgb(245, 104, 11);
	}
}